<nav class="navbar navbar-expand-lg menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html"
      ><img src="static/images/logo.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link basic-3" aria-current="page" href="/index.html"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle basic-3"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Learn About
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="about_laptops.html">Laptops</a>
            </li>
            <li>
              <a class="dropdown-item" href="about_desktops.html">Desktops</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle basic-3"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Find Products
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="find_laptops.html">Laptops</a>
            </li>
            <li>
              <a class="dropdown-item" href="find_desktops.html">Desktops</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle basic-3"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Laptops Or Desktops
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/compare_student.html"
                >For Students</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/compare_employee.html"
                >For Employees</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Gurt: Yo</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link basic-3" href="/contact.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link basic-3" href="/pricing.html">Pricing</a>
        </li>
      </ul>
      <a type="button" class="btn btn-outline-light me-2" href="login.html">
        Login
      </a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button type="button" class="btn btn-outline-light" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
