{% extends 'layout.html' %}{% block content %}
<div class="container">
  <br />
  <h1 class="d-flex justify-content-center">About Laptops</h1>
  <div class="callout">
    <h4>What are laptops?</h4>
    <h5>
      Laptops are portable computers that combine the components, inputs,
      outputs, and capabilities of a desktop computer. They are designed for
      mobile use and can be powered by batteries or plugged into an electrical
      outlet. Laptops are widely used for various purposes, including work,
      education, gaming, and entertainment. They come in various sizes and
      configurations to suit different needs, from lightweight ultrabooks to
      powerful gaming laptops.
    </h5>
  </div>
  <hr class="divider" />
  <h2>Laptop Factors</h2>
  <ul>
    <li class="shop">Portability: Light and portable</li>
    <li class="shop">Screen Size: Smaller screen</li>
    <li class="shop">Ports: Fewer connection options</li>
    <li class="shop">Cost: Cost effective</li>
    <li class="shop">Space Efficient: Highly space efficient</li>
    <li class="shop">Power: Relies on batteries</li>
  </ul>
  <hr class="divider" />
  <h2>Benefits Of Laptops</h2>
  <h3>Portability</h3>
  <h4>
    Laptops are prized for their portability—they're light, compact, and easy to
    transport. Just slip one into your backpack and take it with you to
    lectures, study sessions at the library, or even your favorite café.
  </h4>
  <br />
  <h3>Convienience</h3>
  <h4>
    Thanks to long-lasting batteries—some offering up to 2000 hours of video
    playback—laptops let you work without being tethered to a power outlet.
    Their space-saving design means you can set up anywhere, no dedicated desk
    required.
  </h4>
  <br />
  <h3>Multifunctionality</h3>
  <h4>
    For students, laptops are incredibly versatile tools. You can effortlessly
    juggle activities like attending a virtual class, taking notes, researching
    assignments, or chatting with classmates—all on the same device.
  </h4>
  <br />
</div>
{% endblock %}
