{% extends 'layout.html' %}{% block content %}
<div class="container">
  <br />
  <h1 class="d-flex justify-content-center">About Desktops</h1>
  <div class="callout">
    <h4>What are desktops?</h4>
    <h5>
      Desktop computers offer strong performance and flexibility, making them
      ideal for demanding tasks like gaming, editing, and coding. Their larger
      size allows for more powerful parts, better cooling, and easier upgrades
      over time. You can connect multiple monitors and peripherals without
      hassle, creating an efficient and customized workspace. While not
      portable, desktops provide a reliable, long-term setup that delivers
      speed, stability, and the ability to grow with your needs.
    </h5>
  </div>
  <hr class="divider" />
  <h2>Desktop Factors</h2>
  <ul>
    <li class="shop">Portability: Not very portable</li>
    <li class="shop">Screen Size: Provide a variety of screen options</li>
    <li class="shop">Ports: Usually have around 10 ports</li>
    <li class="shop">Cost: Generally more expensive than laptops</li>
    <li class="shop">Space Efficient: Takes up much more space</li>
    <li class="shop">Power: Plugs into an outlet</li>
  </ul>
  <hr class="divider" />
  <h2>Benefits Of Desktops</h2>
  <h3>Portability</h3>
  <h4>
    Laptops are prized for their portability—they're light, compact, and easy to
    transport. Just slip one into your backpack and take it with you to
    lectures, study sessions at the library, or even your favorite café.
  </h4>
  <br />
  <h3>Convienience</h3>
  <h4>
    Thanks to long-lasting batteries—some offering up to 2000 hours of video
    playback—laptops let you work without being tethered to a power outlet.
    Their space-saving design means you can set up anywhere, no dedicated desk
    required.
  </h4>
  <br />
  <h3>Multifunctionality</h3>
  <h4>
    For students, laptops are incredibly versatile tools. You can effortlessly
    juggle activities like attending a virtual class, taking notes, researching
    assignments, or chatting with classmates—all on the same device.
  </h4>
  <br />
</div>
{% endblock %}
