{% extends 'layout.html' %}{% block content %}
<div class="container">
  <br />
  <h1 class="d-flex justify-content-center">Which is better?</h1>
  <div class="callout">
    <h4>As a student, what do I choose?</h4>
    <h5>
      For students, laptops are incredibly versatile tools. You can effortlessly
      juggle activities like attending a virtual class, taking notes,
      researching assignments, or chatting with classmates—all on the same
      device.
    </h5>
  </div>
  <hr class="divider" />
  <h2>Points on laptops</h2>
  <ul>
    <li class="shop">Portable</li>
    <li class="shop">Small Screen</li>
    <li class="shop">Cheaper</li>
    <li class="shop">Space Efficient</li>
  </ul>
  <hr class="divider" />
  <h2>What about a desktop?</h2>
  <h4>
    Desktops are stationary computers that offer more power and expandability
    than laptops. They typically have larger screens, more storage, and better
    performance for tasks like gaming, video editing, and software development.
    However, they lack the portability of laptops and require a dedicated
    workspace.
  </h4>
</div>
{% endblock %}
