{% extends 'layout.html' %}{% block content %}
<div class="container">
  <br />
  <h1 class="d-flex justify-content-center">Which is better?</h1>
  <div class="callout">
    <h4>As an employee, what do I choose?</h4>
    <h5>
      For employees, desktops are often preferred for their power and
      expandability. They typically have larger screens, more storage, and
      better performance and storage needed for projects. However, they lack the
      portability of laptops and require a dedicated workspace.
    </h5>
  </div>
  <hr class="divider" />
  <h2>Points on desktops</h2>
  <ul>
    <li class="shop">Not portable</li>
    <li class="shop">High performance</li>
    <li class="shop">Many screen options</li>
    <li class="shop">Takes up much more space</li>
  </ul>
  <hr class="divider" />
  <h2>What about a laptop?</h2>
  <h4>
    A laptop can also be a good choice for employees who need to work on the go.
    They are portable, have long battery life, and can handle most office tasks.
    However, they may not have the same level of performance or expandability as
    desktops. You can easily take them to meetings, work from home, or travel
    without being tied to a desk.
  </h4>
</div>
{% endblock %}
