{% extends 'layout.html' %}{% block content %}
<div class="container">
  <br />
  <h1 class="d-flex justify-content-center">Contact Us</h1>
  <hr class="divider" />
  <div class="row">
    <div
      class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column align-items-center"
    >
      <h1>Send A Message</h1>
      <form class="w-75">
        <div class="form-group">
          <label for="exampleInputName1">Name</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputName1"
            aria-describedby="nameHelp"
            placeholder="Name"
          />
          <label for="exampleInputEmail1">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Email"
          />
          <label for="exampleInputPhone1">Phone</label>
          <input
            type="tel"
            class="form-control"
            id="exampleInputPhone1"
            placeholder="Phone"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
