{% extends 'layout.html' %}{% block content %}

<div class="container">
  <h1 class="d-flex justify-content-center">Find Desktops</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac rutrum
    tellus. Quisque blandit tellus vel velit maximus, at euismod arcu aliquet.
    Morbi ut neque lacinia, sollicitudin leo eu, sollicitudin metus. Sed
    vehicula mi ac arcu ornare placerat.
  </p>
  <hr class="divider" />
  <div class="container row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="static/images/pages/desktop1.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>Acer Aspire Desktop Computer</h1>
      <ul>
        <li class="shop">Intel Core i5-14400</li>
        <li class="shop">8GB DDR5</li>
        <li class="shop">512GB PCIe SSD</li>
        <li class="shop">Windows 11 Home 64-bit</li>
        <li class="shop">Intel UHD Graphics 730</li>
        <hr />
        <li class="shop">No setup required</li>
        <li class="shop">Affordable</li>
        <li class="shop">Not upgradable</li>
        <li class="shop">CPU is dependent on memory speed</li>
        <hr />
        <a
          href="https://www.newegg.com/p/N82E16883101919?item=N82E16883101919"
          class="btn btn-primary shop"
          target="_blank"
          >Shop</a
        >
      </ul>
    </div>
  </div>
  <hr class="divider" />
  <div class="container row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="static/images/pages/desktop1.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>Acer Aspire Desktop Computer</h1>
      <ul>
        <li class="shop">Intel Core i5-14400</li>
        <li class="shop">8GB DDR5</li>
        <li class="shop">512GB PCIe SSD</li>
        <li class="shop">Windows 11 Home 64-bit</li>
        <li class="shop">Intel UHD Graphics 730</li>
        <hr />
        <li class="shop">No setup required</li>
        <li class="shop">Affordable</li>
        <li class="shop">Not upgradable</li>
        <li class="shop">CPU is dependent on memory speed</li>
        <hr />
        <a
          href="https://www.newegg.com/p/N82E16883101919?item=N82E16883101919"
          class="btn btn-primary shop"
          target="_blank"
          >Shop</a
        >
      </ul>
    </div>
  </div>
</div>
{% endblock %}
