{% extends 'layout.html' %}{% block content %}

<div class="container">
  <br>
  <h1 class="d-flex justify-content-center">Find Desktops</h1>
  <h4>
    Here are some of the desktops we have available for purchase. If you
    would like to see more, please contact us. We can help you find the best
    desktop for your needs. If you are looking for laptops, please
    <a href="/find_laptops.html" class="btn btn-outline-primary">click here</a>
  </h4>
  <hr class="divider" />
  <div class="container row">
    <h1 class="d-flex justify-content-center">Asus V500 Mini</h1>
    <div class="col-lg-6 col-md-4 col-sm-12">
      <img src="static/images/pages/desktop1.jpg" />
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul>
        <hr>
        <h3>Specfications</h2>
        <hr />
        <li class="shop">Intel Core i5</li>
        <li class="shop">16GB RAM</li>
        <li class="shop">512GB SSD</li>
        <li class="shop">Windows 11 Home 64-bit</li>
        <li class="shop">Intel UHD Graphics 730</li>
        <hr />
        <h3>About This Device</h2>
        <hr />
        <li class="shop">No setup required</li>
        <li class="shop">Large Storage</li>
        <li class="shop">12 Month Warranty</li>
        <li class="shop">Not Upgradable</li>
        <hr />
        <a
          href="https://www.hp.com/us-en/shop/pdp/hp-pavilion-desktop-tp01-3025t-bundle-pc"
          class="btn btn-outline-primary shop"
          target="_blank"
          >Shop</a
        >
      </ul>
    </div>
  </div>
  <hr class="divider" />
  <div class="container row">
    <h1 class="d-flex justify-content-center">Victus 15L Gaming Desktop</h1>
    <div class="col-lg-6 col-md-4 col-sm-12">
      <img src="static/images/pages/desktop2.jpg" />
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul>
        <hr>
        <h3>Specfications</h2>
        <hr />
        <li class="shop">Intel Core i7</li>
        <li class="shop">16GB RAM</li>
        <li class="shop">1TB SSD</li>
        <li class="shop">Windows 11 Home</li>
        <li class="shop">NVIDIA GeForce RTX 4060</li>
        <hr />
        <h3>About This Device</h2>
        <hr />
        <li class="shop">Pre-built</li>
        <li class="shop">Best For Performance</li>
        <li class="shop">4 USB-A Ports + USB-C Port</li>
        <li class="shop">Not Upgradable</li>
        <hr />
        <a
          href="https://www.hp.com/us-en/shop/pdp/victus-by-hp-15l-gaming-desktop-tg02-2077t"
          class="btn btn-outline-primary shop"
          target="_blank"
          >Shop</a
        >
      </ul>
    </div>
  </div>
</div>
{% endblock %}
