{% extends 'layout.html' %}{% block content %} {% include 'partials/slider.html'
%} <br />
<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img src="{{ card[3] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ card[0] }}</h5>
          <p class="card-text">{{ card[1] }}</p>
          <a href="{{ card[4] }}" class="btn btn-primary">{{ card[2] }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="callout">
    <h5>
      What is the feels like in the weather app. If it's 19 degrees but it
      <b>feels like</b> 17, then why would I care about the 19 since it
      <b>feels like</b> 17 anyway. Like just say it's 17 degrees gang, who cares
      about that 19 degrees stuff.
    </h5>
  </div>
  <br />
</div>
{% endblock %}
